/*Cocinar
Famila
Paseo
Musica*/

.caja1_pasatiempos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.caja2_pasatiempos {
  display: flex;
  justify-content: space-evenly;
}
.caja1 {
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
  text-align: justify;
  width: 300px;
  height: 450px;
}
.caja2 {
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
  text-align: justify;
  width: 400px;
  height: 500px;
}
h1 {
  background-color: #e6a4b4;
  text-align: center;
  border-radius: 15px;
  border: 2px solid black;
}
h2 {
  background-color: #e6a4b4;
  text-align: center;
  border-radius: 15px;
  border: 2px solid black;
}
h3 {
  background-color: #8b735985;
  text-align: center;
  border-radius: 15px;
  border: 2px solid black;
}
h4 {
  background-color: #e6a4b4;
  border: 2px dashed black;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
img {
  width: 200px;
  display: block;
  margin: auto;
}

body {
  background-color: #f5eee6;
}
